@charset "utf-8";

#pic{
    float: left;
    margin: 15px;
}

#span {
    color: #ff0000;
    font: bold 20px serif;
}

#syokutyuuten{
    color: #666600;
    font: bold 20px serif;
}
#clear{
    clear: both;
}

