@charset "utf-8";

#mainpic{
    float: left;
    margin-right: 15px;
}

.syouhintitle{
    font-size: 24px;
}

.kakaku{
margin: 20px;
font-size: 20px;
color: #ff0000
}

.btn{
background-color: #ffa500;
margin-left: 20px;
width: 60px;
height: 30px;
}


